//Sistemas Microprocesados
//Mario Guerra 20/10/2016
//Deber#1 - juego de luces
int cont_1;
int cont_2;
void setup() {
  // put your setup code here, to run once:
  pinMode (0, OUTPUT);
  pinMode (1, OUTPUT);
  pinMode (2, OUTPUT);
  pinMode (3, OUTPUT);
  pinMode (4, OUTPUT);
  pinMode (5, OUTPUT);
  pinMode (6, OUTPUT);
  pinMode (7, OUTPUT);
  pinMode (8, OUTPUT);
  pinMode (9, OUTPUT);
  pinMode (10, OUTPUT);
  pinMode (11, OUTPUT);
  pinMode (12, OUTPUT);
  pinMode (13, OUTPUT);

  }
//Juego de luces 1
  void loop() {
    // put your main code here, to run repeatedly:


    for (cont_1 = 0; cont_1 < 14; cont_1 = cont_1 + 2) {
      digitalWrite(cont_1, HIGH);
      delay(100);
    }

    for (cont_1 = 13; cont_1 >= 0; cont_1 = cont_1 - 2) {
      digitalWrite(cont_1, HIGH);
      delay(100);
    }

    for (cont_1 = 0; cont_1 < 14; cont_1++) {
      digitalWrite(cont_1, LOW);
      delay(100);
    }

  //Juego de luces 2
for (cont_1 = 0, cont_2=13; cont_1 < 14; cont_1 = cont_1 + 2,cont_2 = cont_2 - 2) {
      digitalWrite(cont_1, HIGH);
      digitalWrite(cont_2, HIGH);
      delay(150);
      digitalWrite(cont_1, LOW);
      digitalWrite(cont_2, LOW);
      delay(150);
         }
     

  //Juego de luces 3

      for (cont_1 = 0, cont_2=13; cont_1 < 8; cont_1++,cont_2--) {
      digitalWrite(cont_1, HIGH);
      digitalWrite(cont_2, HIGH);
      delay(100);
    }

   for (cont_1 = 7, cont_2=8; cont_1 < 8; cont_1--,cont_2++) {
      digitalWrite(cont_1, LOW);
      digitalWrite(cont_2, LOW);
      delay(100);
    }

     
  }
